//delivery
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: "Comic Sans MS", cursive;
    background: linear-gradient(to bottom, #26829e, #0e5280);
    color: rgb(255, 238, 0);
    min-height: 100vh;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
    color: #ffd60a;
    font-family: 'Chewy', cursive;
}
nav {
    display: flex;
    gap: 25px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 0.3s;
}

nav a:hover {
    color: #ffd60a;
}

.banner-delivery {
    font-size: 3rem;
    font-family: "Comic Sans MS", cursive;
    text-align: center;
    padding: 120px 30px;
    background-image:
        linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45)),
        url('./Fotos/fundo.delivery (2).png');
    background-size: cover;
    background-position: center;
    border-radius: 0 0 25px 25px;
    transition: all 0.5s ease;
}

.banner-delivery:hover {
    transform: scale(1.03);
    filter: brightness(110%);
}

.etapas {
    padding: 80px 40px;
}

.etapas h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;
}

.cards-delivery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 35px;
}

.etapa {
    width: 280px;
    background: white;
    color: #333;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
    transition: 0.3s;
}

.etapa:hover {
    transform: translateY(-10px);
}

.formulario {
    width: 100%;
    padding: 80px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    background: linear-gradient(135deg, #FFD700, #FFA500);
    color: #000;
}

.formulario h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.formulario form {
    width: 100%;
    max-width: 360px;
    background: rgba(255,255,255,0.2);
    backdrop-filter: blur(10px);
    padding: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.formulario input {
    padding: 15px;
    border: none;
    border-radius: 10px;
    outline: none;
    font-size: 1rem;
}

.formulario button {
    padding: 15px;
    border: none;
    border-radius: 10px;
    background: #023047;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.formulario button:hover {
    background: #035b8a;
    transform: scale(1.05);
}

footer {
    margin-top: 80px;
    background: #023047;
    text-align: center;
    padding: 40px 20px;
}

@media (max-width: 900px) {
    nav {
        flex-wrap: wrap;
        justify-content: center;
    }

    .banner-delivery h1 {
        font-size: 2.2rem;
    }

    .etapa {
        width: 100%;
        max-width: 350px;
    }
}

//////////////////////
//combos
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.banner-combos {
    text-align: center;
    padding: 100px 20px;
    font-family: "Comic Sans MS", cursive;
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.712), rgba(0,0,0,0.45)),
        url('./Fotos/combo.fundo.png');
    background-size: cover;
    background-position: center;
    border-radius: 0 0 25px 25px;
    transition: all 0.5s ease;
}

.banner-combos h1 {
    font-size: 3rem;
}

.combos {
    padding: 80px 30px;
    text-align: center;
}

.combos h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
}

.grid-combos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
    max-width: 1000px;
    margin: auto;
}

.combo-card {
    background: white;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    transition: 0.3s;
    text-align: center;
}

.combo-card:hover {
    transform: translateY(-8px);
}

.combo-card img {
    width: 100%;
    height: 160px;
    object-fit: cover;
}

.combo-card h3 {
    margin-top: 10px;
    color: #023047;
}

.combo-card span {
    display: block;
    margin: 10px 0;
    font-weight: bold;
    color: #0f6197;
    font-size: 1.2rem;
}

.combo-card button {
    width: 80%;
    margin-bottom: 15px;
    padding: 10px;
    border: none;
    border-radius: 12px;
    background: #023047;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.combo-card button:hover {
    background: #035b8a;
    transform: scale(1.05);
}

footer {
    margin-top: 80px;
    background: #023047;
    text-align: center;
    padding: 40px 20px;
}
@media (max-width: 900px) {
nav {
        flex-wrap: wrap;
    }

    .banner-combos h1 {
        font-size: 2.2rem;
    }
}
//////////////////////
//feedback
.titulo-feedback {
    font-family: Impact, Haettenschweiler, sans-serif;
    text-align: center;
    padding: 100px 20px;
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5));
    color: #ffd60a;
}

.feedback-container {
    display: flex;
    justify-content: center;
    padding: 60px 20px;
}

.feedback-form {
    width: 100%;
    max-width: 500px;
    background: rgb(203, 208, 255);
    padding: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.493);
}

.feedback-form input,
.feedback-form select,
.feedback-form textarea {
    padding: 15px;
    border: 2px solid #8298b1;
    border-radius: 10px;
    font-size: 1rem;
}

.feedback-form button {
    padding: 15px;
    border: none;
    border-radius: 10px;
    background: #052d52;
    color: rgb(211, 226, 255);
    font-weight: bold;
    cursor: pointer;
}

.feedback-form button:hover {
    background: #035b8a;
}

//////////////////////
.fundo{
    background-image: url(/Fotos/fundo.jpg);

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.fundo2{
    background-image: url(/Fotos/fundo2.png);

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

nav{
    width: 100%;
    background: rgba(255,255,255,0.15);
    backdrop-filter: blur(10px);
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 50px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

nav a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    transition: 0.3s;
    position: relative;
}

nav a:hover{
    color: #ffe066;
    transform: scale(1.05);
}

h1{
    color: white;
    font-size: 60px;
    margin-top: 40px;
    margin-bottom: 40px;
    text-shadow: 4px 4px 10px rgba(0,0,0,0.4);
    letter-spacing: 3px;
}

.combo2{
    width: 850px;
    margin: auto;
    overflow: hidden;
    border-radius: 30px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.35);
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(8px);
    padding: 20px;
}

.combos::-webkit-scrollbar{
    display: none;
}

.combos div{
    min-width: 100%;
}

.combos img{
    width: 100%;
    height: 450px;
    object-fit: cover;
    border-radius: 25px;
    transition: 0.4s;
}

.combos img:hover{
    transform: scale(1.02);
}

.menu{
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: rgb(152, 152, 255);
}
.menu a{
    color: white;

    text-decoration: none;

    font-size: 24px;
    font-weight: bold;

    padding: 10px 30px;

    border-radius: 12px;

    transition: 0.3s;

    letter-spacing: 1px;
}

.menu{
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 18px;

    background: rgba(62, 150, 161, 0.75);

    backdrop-filter: blur(8px);

    border-bottom: 3px solid #ffd000;

    position: fixed;
    top: 0;
    left: 0;

    z-index: 1000;
    border-bottom: 3px solid #ffd000;
}

.hero{
    height:100vh;
  
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
  
    text-align:center;
    padding:20px;
  
    background:
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url("./Fotos/fundo.delivery.png");
  
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
  }

  .titulo-bob{
    font-family: 'Luckiest Guy', cursive;
  }

.famoso{
    color: rgb(255, 255, 255);
    font-family: 'Fredoka', sans-serif;
}

.cardapio{
    color: rgb(255, 255, 255);
  }
